
.techmenu-div {
    margin-top: 60vh;
    margin-bottom: 30vh;
}

.techmenu-items-div button {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border-style: none;
    background: none;
    color: white;
    font-size: calc(1px + 2vmin);;
}

.techmenu-items-div button:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}